span{
    font-size: 17px;
}
h1{
    font-size: 48px;
    text-align: center;
}
h2:hover,h3:hover{
    color: red;
    font-size: 25px;
    font-weight: 300;
}
.red{
    width: 20%;
    height: 23px;
    padding: 20px;
    margin: 10px;
    display:inline-block;
}
.yellow{
    display: inline-block;
    width: 53%;
    padding: 20px;
    margin: 10px;

}
img{
    width: 85%;
    height: 280px;
}